select.js-table-pagers {
    width: 15%!important;
    float: left;
    margin-bottom: 0.3em;
}

input.js-table-search {
    width: 35%!important;
    float: right;
    margin-bottom: 0.3em;
}

table.js-table {
    width: 100%;
}

th.js-table-number, td.js-table-number {
    text-align: right;
}

nav.js-table-pagination-list {
    float: right;
}

a.js-table-page-link {
    cursor: pointer;
}

a.js-table-page-more {
    cursor: initial;
    background-color: transparent!important;
    border: transparent;
}