body {
    position: relative;
}

input:read-only {
    background-color: rgb(240, 240, 240)!important;
}

div.code {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    background-color: rgb(240, 240, 240);
    padding: 1em;
}

.card {
    margin: 1em;
}

.scrollspy-example {
    height: 20em;
    overflow: auto;
}

.ml-6 {
    margin-left: 4rem;
}